

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #19989c;
}

.upperBox{
    position: relative;
    display: flex;
    height: 50%;
    background-color: #5dc6ca;
}

.upperBox div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
    border: white 0.3rem solid;    
}

.circle {
    /* absolute */
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.circle1{
    background-color: #b53fe7;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.circle2 {
    background-color: rgba(179, 24, 94, 0.935);
    top: 37px;
    left: 260px;
    z-index: 1;
}
.circle3{
    background-color: #b53fe7;
    width: 40px;
    height: 40px;
    top: 48px;
    left: 560px;
    z-index: 1;
}

.circle4 {
    background-color: #b53fe7;
    width: 40px;
    height: 40px;
    top: 222px;
    left: 33px;
    z-index: 1;
}

.circle5 {
    background-color: rgba(179, 24, 94, 0.935);
    width: 35px;
    height: 35px;
    top: 288px;
    left: 108px;
    z-index: 1;
}

.circle6 {
    background-color: #b53fe7;
    top: 190px;
    left: 340px;
    z-index: 1;
}

#figure-1{
    /* absolute */
    position: absolute;
    z-index: 1;
    left: 300px;
    bottom: 0px;
    width:150px;

}

#figure-2{
    /* abso */
    position: absolute;
    bottom: 0px;
    width:300px;
    z-index: 1;
}

.triangle{
    /* abso */
    position: absolute;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 0 250px;
    height: 0;
    z-index: 1;
}

.triangle-small {
    width: 0;
    height: 0;
    border-bottom: 100px solid #c9e265;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
    z-index: 3;
}

.triangle-big {
    width: 0;
    height: 0;
    border-bottom: 250px solid #008036;
    border-left: 150px solid transparent;
    border-right:150px solid transparent;
    right: calc(50% - 250px);
    z-index: 2;
}

/* .house {
    position: relative;
    display: flex;
    align-items: stretch;
    color: rgb(240, 11, 198);
    height: 150px;
    width: 150px;
    border: 9px dotted rgb(221, 11, 240);
    background-color: rgb(231, 161, 206);
    z-index: 3;
} */

.lowerBox{
    position: relative;
    display: flex;
    height: 50%;
    background-color: #065255;
}

footer {
    background-color: #8aa325;
    position: relative;
    height: 100px;
    z-index: 3;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
    }
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  body {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-device-width: 480px){

/* orientation: portrait (max-device-width: 480px)*/
/* and (orientation: portrait) { */
  body {
    width: 400px;
    height: 200px;
    
  }
}


.submitBtn {
    background-color: rgb(41, 117, 117);
    border: none;
    color: rgb(31, 2, 2);
    padding:  15px 32px;
    text-align: center;
    text-decoration: dotted;
    display: inline-block;
    font-size: 16px;
    width: 300px;
}

input {
    width: 500px;
}